.col-sm-5 {
  @media screen and (min-width: 576px) and (max-width: 991px) {
    flex: 0 0 auto;
    width: 100%;
  }
}

.btn {
  width: 150px;
  height: 38px;
}

.my-2 {
  align-self: flex-end;
}

.form-contact {
  display: flex;
  align-items: flex-end;
}

.title {
  margin-bottom: 30px;
  padding: 10px;

  font-size: 20px;
  border-bottom: 1px solid rgba(46, 49, 49, 1);
}
